.form__btn {
    display: flex;
    width: 100%;
    max-width: 358px;
    height: 50px;
    background-color: #000;
    margin: 18px auto 37px;
    padding: 0;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Inter' , 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    border-radius: 2px;
}

.form__btn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 720px) {
    .form__btn {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}