.header {
    max-width: 880px;
    padding: 45px 0px 41px;
    margin: 0 auto 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 920px) {
    .header {
        padding: 28px 0px 31px 27px;
        margin: 0 auto 42px;
    }
}