.popup__btn {
    display: flex;
    width: 358px;
    height: 50px;
    background-color: #000;
    margin: 18px auto 0;
    padding: 0;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Inter' , 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    transition: 0.5s;
}

.popup__btn:hover {
    opacity: 0.3;
}

@media screen and (max-width: 720px) {
    .popup__btn {
        width: 238px;
        height: 46px;
    }
}