.popup-img{
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    visibility: hidden;
    display: flex;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}