.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background: url(../../../images/close.svg);
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.popup__close:hover {
    opacity: 0.3;
}