.gallary-grid__item {
    max-width: 282px;
    height: 361px;
    object-fit: contain;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
